.intent-list-icons {
    color: #00A0AE;
}

.tabel-cell-header {
    padding: 12px !important;
}

.float {
    float: right;
}

.heading {
    vertical-align: top;
    margin-left: 10px !important;
}

.tabel-header{
  padding: 10px;
}

.icon-intend-details {
    text-align: end !important;
}