.logo {
    top: 11px;
    left: 49px;
    width: 160px;
    height: 28px;
    opacity: 1;
    background: transparent url('assests/header_logo.png') 0% 0% no-repeat padding-box;
}

.menu-header {
    top: 0px;
    left: 0px;
    background: #00A0AE 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 1px 2px #00000066;
    opacity: 1;
    background-color: #00A0AE;
}

.header {
    background: #00A0AE 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 1px 2px #00000066;
    opacity: 1;
    background-color: #00A0AE;
}

.menu-icon {
    color: white !important;
}
